{% extends 'header.html' %}

{% block header %}
  <!-- <h1>{% block title %}Main Page{% endblock %}</h1> -->
{% endblock %}

{% block content %}
    <div class="container mt-3">

        <div class="row text-center">
            <div class="col-sm-12">
                <h3 class="text-capitalize">Hi, {{ session.get('nickname') }}!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <h6>Your Points: {{ points }}</h6>
            </div>
        </div>        
        <hr/>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="fw-semibold">Remaining Tasks</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% for collection in col_one %}
                    {% set progress = (collection[1] / collection[2]) |  float %}
                    {% set progress_percent = (collection[1] / collection[2]) * 100 %}

                    <div class="row d-flex justify-content-between align-items-center mx-4 mt-3">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <h6 class="text-capitalize fw-medium mb-0">{{collection[0]}}</h6>
                            <span class="badge badge-pill {% if collection[1] == collection[2] %}bg-success{% else %}bg-warning{% endif %}"
                                style="font-size: 0.7em;">
                                {{ collection[1] }}/{{ collection[2] }} Completed
                            </span>
                        </div>
                    </div>
                    <div class="row mx-5 mt-2">
                        <div class="progress p-0" role="progressbar" aria-label="Success example" aria-valuenow="{{ collection[1] }}" aria-valuemin="0" aria-valuemax="{{ collection[2] }}">
                            <div class="progress-bar progress-bar-striped progress-bar-animated text-dark" 
                            style="width: {{ progress_percent|int }}%;
                           background-color: {% if progress >= 0.6 and progress < 1 %}#d4ff91;
                                            {% elif progress >= 0.4 and progress < 0.6 %}#ffff99;
                                            {% elif progress >= 0.2 and progress < 0.4 %}#ffd6a5;
                                            {% elif progress < 0.2 %}#ff9999; 
                                            {% else %}#b3e6b3;
                                            {% endif %}">
                                              {{ progress_percent|int }}%
                            </div>
                        </div>
                    </div>           
                {% endfor %}
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    {% for collection in col_two %}
                        {% set progress = (collection[1] / collection[2]) |  float %}
                        {% set progress_percent = (collection[1] / collection[2]) * 100 %}

                        <div class="row d-flex justify-content-between align-items-center mx-4 mt-3">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h6 class="text-capitalize fw-medium mb-0">{{collection[0]}}</h6>
                                <span class="badge badge-pill {% if collection[1] == collection[2] %}bg-success{% else %}bg-warning{% endif %}"
                                    style="font-size: 0.7em;">
                                    {{ collection[1] }}/{{ collection[2] }} Completed
                                </span>
                            </div>
                        </div>
                        <div class="row mx-5 mt-2">
                            <div class="progress p-0" role="progressbar" aria-label="Success example" aria-valuenow="{{ collection[1] }}" aria-valuemin="0" aria-valuemax="{{ collection[2] }}">
                                <div class="progress-bar progress-bar-striped progress-bar-animated text-dark" 
                                style="width: {{ progress_percent|int }}%;
                            background-color: {% if progress >= 0.6 and progress < 1 %}#d4ff91;
                                                {% elif progress >= 0.4 and progress < 0.6 %}#ffff99;
                                                {% elif progress >= 0.2 and progress < 0.4 %}#ffd6a5;
                                                {% elif progress < 0.2 %}#ff9999; 
                                                {% else %}#b3e6b3;
                                                {% endif %}">
                                                {{ progress_percent|int }}%
                                </div>
                            </div>
                        </div>           
                {% endfor %}
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-center">You are rank <strong>{{ rank }}</strong></h4>
                {% if rank != 1 %}
                    {% if player_above[1] == 0 %}
                    <p class="text-center">You are TIED with <a style="color: #006fee;" href="/completed_tasks/{{ player_above[0] |replace(' ', '-')| lower }}" class="text-capitalize">{{ player_above[0] }}</a>
                        <br>Complete one more task to beat them!!</p>
                    {% else %}
                        <p class="text-center">Only <c class="text-primary">{{ player_above[1] }}</c> points behind <a style="color: #006fee;" href="/completed_tasks/{{ player_above[0] |replace(' ', '-')| lower }}" class="text-capitalize">{{ player_above[0] }}</a>
                            <br>Keep completing tasks!!</p>
                    {% endif %}
                {% else %}
                    <p class="text-center">You are the highest rank player!
                        <br>Good luck keeping the lead 🫡</p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h4 class="text-center">THE Top 5</h4>
                <ol style="list-style-position: inside; text-align: center; padding-left: 0;">
                    {% for user in top_five %}
                        <li class="text-capitalize">{{user[0]}}</li>
                    {% endfor %}
                </ol> 
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-6 mb-3">
                <h4 class="text-center">Your Updates</h4>
                {% if updates_list %}
                    <ul>
                        {% for update in updates_list %}
                            <li class="text-capitalize">{{update[0].strftime('%d/%m/%y, %H:%M')}} | {{update[2]}}: {% if update[3] ==  '0' %}<strong class="text-danger">Denied{% else %}<strong class="text-success">Approved{% endif %}</strong></li>
                        {% endfor %}
                    </ul> 
                {% else %}
                    <p class="text-center">You have completed no tasks</p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h4 class="text-center">Recently done tasks</h4>
                {% if recent_tasks %}
                    <ul>
                        {% for info in recent_tasks %}
                            <li class="text-capitalize">
                                {{ info[0].strftime('%d/%m/%y, %H:%M') }} |
                                <a style="color: #006fee;" href="/completed_tasks/{{ info[1] |replace(' ', '-')| lower }}">{{ info[1] }}</a>: {{ info[2] }} ({{ info[3] }})
                            </li>
                        {% endfor %}
                    </ul> 
                {% else %}
                    <p class="text-center">No one has completed any tasks</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}