{% extends 'header.html' %}

{% block header %}
  <!-- <h1>{% block title %}View Tasks{% endblock %}</h1> -->
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row text-center">
            <div class="col-sm-12">
                <h3 class="text-capitalize">All Players</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <ol style="list-style-position: inside; text-align: center; padding-left: 0; column-count: 2;">
                    {% for user in players %}
                        <li class="text-capitalize">
                            <a style="color: #006fee;" href="/completed_tasks/{{ user[0] | replace(' ', '-') | lower }}">{{ user[0] }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <br/>
        <div class="row text-center">
            <div class="col-sm-12">
                <h3 class="text-capitalize">Recently Completed Tasks</h3>
            </div>
        </div>
        <!-- Make this the section to render all of the tasks -->
        <div class="row">
            <div class="col-md-12">
                {% if completed_data %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Players</th>
                                <th>Task</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for time_val, user, task, point_value in completed_data %}
                            <tr>
                                <td>{{ time_val.strftime("%m/%d/%y %H:%M") }}</td>
                                <td><a style="color: #006fee;" href="/completed_tasks/{{ user }}" class="text-capitalize">{{ user }}</a></td> <!--  Make this clickable -->
                                <td>{{ task }}</td>
                                <td class="text-center">{{ point_value }}</td>                            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">No tasks have been completed YOU be the first!!</p>
                {% endif %}
        </div>
    </div>

{% endblock %}