{% extends 'header.html' %}

{% block header %}
  <h2 class="text-center mt-5 mb-2">{% block title %}Change Password{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <div class="text-center">
    <form method="post" class="mb-3">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" name="new_password" id="new_password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>

    {% include "auth/flash_message.html" %}

  </div>
</div>
{% endblock %}