{% extends 'header.html' %}

{% block header %}
  <h2 class="text-center mt-5 mb-2">{% block title %}Change Password{% endblock %}</h2>
{% endblock %}

{% block content %}
<style>
  .spinner-border {
    display: none; /* Initially hidden */
    width: 1.5rem;
    height: 1.5rem;
  }
</style>

<div class="d-flex justify-content-center align-items-center">
  <div class="text-center">
    <form method="post" class="mb-3" id="changePasswordForm">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" name="new_password" id="new_password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary" id="changePasswordButton">
        Change Password
        <div class="spinner-border spinner-border-sm text-light ms-2" role="status" id="loadingSpinner">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </form>

    {% include "auth/flash_message.html" %}

  </div>
</div>

<script>
  document.getElementById("changePasswordForm").addEventListener("submit", function() {
    let changePasswordButton = document.getElementById("changePasswordButton");
    let spinner = document.getElementById("loadingSpinner");

    // Show spinner and disable button to prevent multiple submissions
    spinner.style.display = "inline-block";
    changePasswordButton.disabled = true;
  });
</script>

{% endblock %}
